<!DOCTYPE html>
<html>
  <head>
    <title>Estoque</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>Estoque</h1>
    <form action="/alterar" method="post">
    	nome:<br>
      <input type="text" name="nome" id="nome" value="<%= materia.nome %>"required><br><br>
    	<input type="hidden" name="id" id="id" value="<%= materia.id %>"required>
      <input type="submit" value="alterar">
    </form>
  </body> 
</html>
