<!DOCTYPE html>
<html>
  <head>
    <title>Estoque</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>Tem certeza que deseja excluir?</h1>
    <form action="/excluir" method="post">
      <input type="hidden" name="id" id="id" value="<%= materia.id %>"required>
      <input type="submit" value="excluir">
    </form>
    	<table id="exclusao" border="10">
        <% if(1 > 0){ %>
          <tr>
            <td>Id</td>
            <td>Nome</td>
          </tr>
            <tr>
              <td><%= materia.id %></td>
              <td><%= materia.nome %></td>
            </tr>
          <% } %>
    </table>
  </body> 
</html>
